.introducao {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 35px;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 17px;
  position: relative;
  width: fit-content;
  color: #121220;
}

.introducao h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 95px;
  height: 53px;
  background: url("../img/detalhe.svg") no-repeat center;
  left: -40px;
  top: -15px;
  z-index: -1;
  border-radius: 25%;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
  width: fit-content
}

.html-css {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
}

#piada {
  font-size: 1rem;
  font-weight: initial;
}

.introducao img {
  border-radius: 50%;
  margin-left: 20%;
}

.introducao-texto {
  width: fit-content;
}

.introducao-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conan:hover {
  letter-spacing: 1.5px;
  color: #42809d;
}

.conan {
  transition: all 0.3s;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao img {
    display: none;
  }
  .introducao {
    grid-template-columns: 1fr;
    place-content: center;
  }
}
