.nav-buttons {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  text-align: center;
  transition: width 0.3s ease;
  width: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.nav-button span {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.nav-button:hover {
  width: 140px; 
}

.nav-button:hover span {
  opacity: 1;
}

.nav-button-dark {
  background-color: #10111e;
  color: #fff;
}

.nav-button-dark:hover {
  background-color: #1e1f2e;
}

.nav-button-light {
  background-color: #45adfd;
  color: #fff;
}

.nav-button-light:hover {
  background-color: #3495de;
}

