.nav-buttons {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  flex-direction: column;
  gap: 10px;
}

.nav-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  text-align: center;
  transition: width 0.3s ease;
  width: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.nav-button span {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.nav-button:hover {
  width: 140px; 
}

.nav-button:hover span {
  opacity: 1;
}

.nav-button-dark {
  background-color: #0d1627;
  color: #fff;
}

.nav-button-dark:hover {
  background-color: #1a2c4c;
}

.nav-button-light {
  background-color: #45adfd;
  color: #fff;
}

.nav-button-light:hover {
  background-color: #3495de;
}

.open-nav-button{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.show{
  display: flex !important;
}

.hide{
  display: none !important;
}

.nav-buttons-mobile{
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-nav-button{
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.nav-button-mobile{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}