.projetos {
  background-color: #003153;
  color: #eef9ff;
}

.projetos-container {
  max-width: 1300px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.projetos-container::after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 72px;
  background: url("../img/detalhe.svg") no-repeat center;
  bottom: -36px;
  left: 30px;
}

.projetos .subtitulo {
  background: #0093e9;
  background: linear-gradient(160deg, #80d0c7 0%, #0093e9 100%);
  background-clip: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 5ch;
}

.projetos-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #dcf3ff;
}

.projetos-texto strong {
  color: white;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #00030c;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #00adff;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#6dd8ff, #b2e8ff);
  position: absolute;
  top: -25px;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #008adf;
}

.cursos {
  margin-bottom: 60px;
}

.projetos-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #7bc3f0;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}

.projetos-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.projetos-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.projetos-extra span {
  color: #7bc3f0;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .projetos-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .projetos-texto {
    font-size: 1.25rem;
  }
  .projetos-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
